.fast-answer-panel {
  display: grid;
  align-items: center;
  gap: var(--margin-xl);
  grid-template-columns: 1fr 56px;
  padding-bottom: 24px;
  padding-top: 16px;
  grid-template-rows: 56px;

  &__submit-btn {
    width: 56px;
    height: 56px;
  }

  // .quick-answers {
  //   grid-column: 1 / 3;
  //   min-height: 36px;
  //   margin-top: var(--margin-xl);

  //   & > div {
  //     display: flex;
  //     align-items: center;
  //     gap: var(--margin-m);
  //   }
  // }

  // .enter-panel {
  //   display: grid;
  //   align-items: center;
  //   grid-template-columns: 1fr min-content;
  //   gap: var(--margin-m);
  // }
}
